 <!-- Multi Columns Form -->
 <form class="descricao" style="margin: 10%;">
  <div class="descricao">
    <label for="inputName5" class="form-label">Descrição</label>
    <input type="text" class="form-control" id="inputName5">
  </div>

  <div class="tipo">
    <label for="inputAddress5" class="form-label">Tipo</label>
    <input type="text" class="form-control" id="inputAddres5s" placeholder="1234 Main St">
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary" style="margin: 10px;">Salvar</button>
    <button type="reset" class="btn btn-secondary">Limpar</button>
  </div>
</form><!-- End Multi Columns Form -->
