<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-toggle="collapse"
        href="#mercadoria-nav"
      >
        <i class="bi bi-menu-button-wide"></i><span>Mercadoria</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="mercadoria-nav" class="nav-content collapse">
        <li class="nav-item">
          <div
            class="categoria-nav"
            class="nav-link nav-link-justify collapsed"
            data-bs-toggle="collapse"
            href="#categoria-nav"
          >
            <a href="/categoria">
              <i style="padding-right: 20px"></i><span>Categoria</span>
            </a>

            <button class="btn">
              <i class="bi bi-chevron-down custom-icon"></i>
            </button>
          </div>
          <ul id="categoria-nav" class="nav-content collapse">
            <li class="nav-item" >
              <a href="/subcategoria" class="Subcategoria">
                <i class="bi bi-circle"></i><span>Subcategoria</span>
              </a>
            </li>
          </ul>
        </li><!--categoria e subcategoria-->


        <li class="nav-item">
          <div
            class="produto-nav"
            class="nav-link nav-link-justify collapsed"
            data-bs-toggle="collapse"
            href="#produto-nav"
          >
            <a href="/produto">
              <i style="padding-right: 20px"></i><span>Produto</span>
            </a>
          </div>
        </li>

      </ul>
    </li>


    <!-- End Components Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#financeiro-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-menu-button-wide"></i><span>Financeiro</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="financeiro-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="/forma-pagamento">
            <i class="bi bi-circle"></i><span>Forma de pagamento</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Components forma pagamento financeiro -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#controle-usuario-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-menu-button-wide"></i><span>Controle de usuários</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="controle-usuario-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="/forma-pagamento">
            <i class="bi bi-circle"></i><span>Usuários</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Components controle de usuarios-->

  </ul>


</aside>
