/* You can add global styles to this file, and also import other style files */

.has-error
{
  border: 1px solid #ff0000 !important;
}

.chevron-icon {
  font-size: 24px; /* Tamanho personalizado em pixels */
}
.categoria-nav{
  align-items: center;
}
.custom-icon {
  font-size: 20px; /* Tamanho personalizado em pixels */
}
.nav-link-justify{

  justify-content: space-between !important;
}
.Subcategoria{
  justify-content: center !important;
}
